body {
  background-color: lightblue;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  /* border: 5px dotted blue; */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-bottom: 5px;
}

#left {
  /* border: 3px solid white; */
}

#right {
  /* border: 3px solid grey; */

}

#spins {
  text-align: center;
  font-size: 36px;
}

#spinnerbutton {
  text-align: center;
}