body {
    background-color: lightblue;
    font-family: 'Quicksand', sans-serif;
}

html, body, .container {
    height:100%;
}

h1 {
    /* border: 5px dotted blue; */
    font-size: 80px;
    text-align: center;
    margin-top: 6px;
}

.container {
    display: table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
    display: table-cell;
    float: none;
}

.center {
    margin: auto;
}

#left {
    background-color: #6295e5;
    border: 3px solid #333;
    height: 100%;
}

#right {
    background-color: #7d68e7;
    border: 3px solid #333;
    height: 100%;
}

#spins {
    background-color: hsla(0, 0%, 0%, 0.2);
    text-align: center;
    font-size: 36px;
}

#spinnerbutton {
    align-content: center;
    width: 300px;
    height: 300px;
    cursor: pointer;
    z-index: 10000;
    /*border-radius: 128px;*/
}

#spinnerbutton:hover {
    -moz-animation: 1s rotateRight infinite linear;
    -webkit-animation: 1s rotateRight infinite linear;
}

@-moz-keyframes rotateRight {
    0% {
        -moz-transform: rotate(0deg);
        -moz-transform-origin: 50% 50%;
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateRight {
    0% {
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

#stats {
    /*border: 3px solid black;*/
    color: white;
    font-size: 16px;
    line-height: 75%;
    margin-top: 0px;
}